.modalSearch {
    background-color: #5c54ede6;
    border-radius: 8px;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'Source Sans 3', sans-serif;
    padding: 0 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 60%;
    max-width: 750px;
    width: 50%;
}

.btnAction {
    all: unset;
    background-color: #8dd0f5;
    border-radius: 2px;
    display: flex;

    cursor: pointer;
    margin-right: 12px;
    padding: 10px;

    &:hover {
        opacity: 0.9;
    }
}

.btnAction:disabled {
    opacity: 0.6;
    cursor: default;
}

.btnAction:focus {
    opacity: 0.9;
    outline: 2px solid #0303a0;
}

.btnAction img {
    width: 17px;
}

.buttons {
    display: flex;
}

.cityInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: 600;
}

.fa-droplet,
.fa-location-dot {
    margin-right: 5px;
}

.formSearch {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    position: relative;
    width: 60%;
}

.formSearch input {
    border: 1px solid transparent;
    border-radius: 2px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 1.1px;
    padding: 8px;

    min-width: 140px;
    width: 100%;

    &:focus {
        outline: 2px solid #0303a0;
    }
}

.formSearch input::placeholder {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.weatherData {
    border-top: 2px solid #fff;
    margin-top: 30px;
    padding-top: 30px;
    width: 90%;
}

.weatherError {
    position: absolute;
    top: 40px
}

.weatherStatus {
    display: flex;
    justify-content: space-around;

    font-size: 20px;

    margin-top: 15px;
    padding: 0 5%;
}