.btnMenu {
    margin-bottom: 30px !important;
}

.btnMenu:hover {
    background-color: transparent !important;
}

.menuItem {
    cursor: default !important;
}

.scale {
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 5px;
    text-decoration: underline;
}