.fieldDetach {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    font-family: 'Source Sans 3', sans-serif;
    padding: 40px 85px;
    height: 330px;
}

.leftDetails h1 {
    font-size: 112px;
    font-weight: 300;

    margin-bottom: -30px;
}

.fieldDetach h2 {
    font-size: 32px;
}

.fieldDetach h3 {
    font-size: 28px;
    font-weight: 400;
}

.leftDetails h4 {
    font-size: 18px;
    font-weight: 400;
}

.rightDetails h3::first-letter {
    text-transform: uppercase;
}