form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formButton {
    background: #0575E6;
    border: transparent;
    border-radius: 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;

    padding: 18px 30px;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }

}

.iconInput {
    position: relative;
    bottom: 53px;
    left: 20px;

    opacity: 0.3;

    width: 18px;
}

.iconInputEmail {
    bottom: 50px;
}

input {
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    padding: 18px 50px;
    width: 100%;

    &::placeholder {
        color: #333;
        opacity: 0.3;
    }
}

.userArea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 0 120px;
}

.userArea h1 {
    color: rgba(51, 51, 51, 1);
    font-size: 26px;
    margin-bottom: 50px;
}