.userArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 0 110px;

    min-height: 100vh;
    width: calc(100vw - 60%);
}

.formGroup {
    position: relative;
}

.formGroup input {
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    padding: 18px 45px;
    width: 100%;

    &::placeholder {
        color: #333;
        opacity: 0.3;
    }
}

.formGroup input:focus {
    outline: 2px solid #574848;
}

.redirection {
    color: #333;
    font-size: 14px;
    opacity: 0.7;
    text-decoration: none;

    display: flex;
    justify-content: center;
}

.redirection:hover {
    cursor: pointer;
    color: rgb(4, 94, 185);
}

.userArea h2 {
    color: rgba(51, 51, 51, 1);
    font-size: 26px;
    margin-bottom: 50px;
}