.cardContainer {
    margin-top: 30px;
    position: relative;
}

.card {
    background-color: gray;
    border-radius: 25px;
    box-shadow: 5px 20px 15px 0 black;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 50px 30px;
    padding: 18px;

    transition: all 0.4s;

    height: 336px;
    width: 180px;

}

.card:active {
    transform: scale(0.9);
}

.bottomCard {
    color: #020419;
    font-family: Source Sans Pro;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.bottomCard h4 {
    margin: 0 8px;
}

.cityCard {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    text-transform: capitalize;
}

.countryCard {

    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 15px 0;
}

.tempCard {
    font-size: 110px;
    font-weight: 300;
}