.startImg {
    background-image: url('../../assets/leftContent.png');
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 60%;
}