.startImg {
    background-image: url('../../assets/leftContent.png');
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 60%;
}

.startImg h1 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}