* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  position: relative;

  min-height: 100vh;
  width: 100%;
}

.errorInfo {
  color: #b82121;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin: -10px 0 0 20px;
}

.fa-xmark {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: 20px;

  &:active {
    transform: scale(1.2);
  }

}

.firstTitle {
  color: rgba(255, 255, 255, 1);
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

.formButton {
  background: #0575E6;
  border: transparent;
  border-radius: 30px;
  color: #fff;
  font-family: 'Poppins', sans-serif;

  margin-bottom: 15px;
  padding: 18px 30px;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

}

.hiddenTitle {
  display: none;
}

.iconInput {
  position: absolute;
  bottom: 35px;
  left: 20px;

  opacity: 0.3;

  width: 18px;
}

.iconInputEmail {
  bottom: 37px;
}

.popupAlert {
  animation-name: goDown;
  animation-duration: 1s;
  border: 2px solid #574848;
  border-radius: 8px;
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;

  padding: 18px;

  position: absolute;
  top: 30px;
  right: 3%;

  height: fit-content;
  max-width: 300px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #c8c8c8;
  border: 5px solid #fff;
}

::-webkit-scrollbar-button {
  background-color: #574848;
  border: 2px solid #c8c8c8;
  border-radius: 50%;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #070752;
  border: 2px solid #c8c8c8;
  border-radius: 15px;
}


@keyframes goDown {
  from {
    top: 0
  }

  to {
    top: 30px
  }
}