@media (max-width: 480px) {

    .fieldDetail {
        align-items: flex-start;
    }

    .firstTitle {
        font-size: 30px;
    }

    .formSearch {
        flex-direction: column;
    }

    .userArea {
        padding: 0 20px;
    }

    .weatherError {
        color: #ee3232;
        font-weight: bold;
    }
}

@media (max-height: 520px) {

    .formSearch {
        margin-top: 5px;
    }

    .modalSearch h2 {
        font-size: 20px;
    }

    .weatherData {
        margin-top: 20px;
        padding-top: 5px;
    }

    .weatherError {
        top: 35px;
    }

    .weatherStatus {
        margin-top: 0px;
    }
}

@media (max-width: 580px) {

    .addButton {
        margin-top: 25px;
    }

    .cityInfo {
        font-size: 18px;
    }

    .fieldDetail h3 {
        font-size: 20px;
    }

    .fieldOption {
        margin-top: 40px;
    }

    .leftDetails h1 {
        font-size: 80px;
    }

    .rightDetails h2 {
        font-size: 25px;
    }

    .upperContent {
        flex-direction: column;
    }
}

@media (max-width: 835px) {

    .contentHome {
        width: 100%;
    }

    .fieldDetail {
        padding: 20px 4%;
    }

    .fieldOption {
        padding: 0 10px 0 40px;
    }

    .iconBar {
        margin-left: 20px;
    }

    main {
        padding: 15px 8px 0 8px;
    }

    .modalSearch {
        width: 80%;
    }

    .sideBar {
        flex-direction: row-reverse;
        position: absolute;
        top: 20px;
        left: 15%;

        height: 50px;
    }

    .weatherReports {
        align-items: center;
        justify-content: center;
        margin: 40px 40px 0 0;
    }
}

@media (min-width: 900px) and (max-width: 1140px) {

    .userArea {
        padding: 0 250px;
    }
}

@media (max-width: 1140px) {

    .userArea {
        background-image: url('../assets/leftContent.png');
        width: 100%;
    }

    .hiddenTitle {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .redirection {
        color: rgba(223, 234, 235, 0.973);
    }

    .startImg {
        display: none;
    }

    .userArea h2 {
        color: rgba(255, 255, 255, 1);
        ;
        text-align: center;
    }
}

@media (max-width: 1370px) {
    .card {
        height: 285px;
        width: 140px;
    }

    .cityCard {
        font-size: 17px;
        margin-top: 5px;
    }

    .tempCard {
        font-size: 70px;
    }
}