.editCard {
    background-color: #fff;
    border: 2px solid #494545;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    width: 50%;
    max-width: 1000px;
}

.editCard h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.editInput {
    position: relative;
}

.editInput input {
    background: #FFF;
    border: 1px solid #494545;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    padding: 18px 45px;
    width: 100%;

    &::placeholder {
        color: #333;
        opacity: 0.3;
    }
}

.formEdit {
    width: 75%;
}